@model TripsViewModel

<h1>Trip Management</h1>

<hr />

<div class="container">
    <h4>Select Range</h4>

    <form method="post" asp-controller="Trip" asp-action="ShowTrips">
        <div class="form-row">
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control datepicker-start" name="RangeStart" placeholder="Range Start" value="@Model?.RangeStart.ToShortDateString()">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar fa-lg" id="date-trigger-start"></i></span>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control datepicker-end" name="RangeEnd" placeholder="Range End" value="@Model?.RangeEnd.ToShortDateString()">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar fa-lg" id="date-trigger-end"></i></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Show</button>
        </div>
    </form>
</div>

<hr />

<form method="post" asp-controller="Trip" asp-action="ModifyTrips">
    <div class="container">
        <div class="row m-0">
            <button type="submit" class="btn btn-primary btn-space" name="Action" value="removeTrips">Remove Trips</button>
            <button type="submit" class="btn btn-primary btn-space" name="Action" value="setVehicle">Set Vehicle</button>
            
            <select class="form-control" name="SelectedVehicleId" style="width: 150px">
                <option value="-1">-</option>
                @if (Model?.Vehicles != null)
                {
                    foreach (var licence in Model.Vehicles)
                    {
                        <option value="@licence.VehicleId">@licence.LicencePlate</option>
                    }
                }
            </select>
        </div>
    </div>

    <hr />

    @if (Model?.Trips != null && Model.Trips.Any())
    {
        int tripIndex = 0;

        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <th>Trip Start</th>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th>Average Speed</th>
                    <th>Vehicle</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var trip in Model.Trips)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="Trips[@tripIndex].IsSelected" value="true"/>
                        <input type="hidden" name="Trips[@tripIndex].Trip.TripId" value="@trip.TripId"/>
                    </td>
                    <td><p>@trip.TripStart.ToString()</p></td>
                    <td><p>@trip.Distance km</p></td>
                    <td><p>@trip.Duration.ToString()</p></td>
                    <td><p>@trip.AvgSpeed km/h</p></td>
                    <td><p>@trip.Vehicle?.LicencePlate</p></td>
                    <td><a class="btn btn-primary" asp-controller="Trip" asp-action="TripDetails" asp-route-tripId="@trip.TripId">Show Details</a></td>
                </tr>

                tripIndex++;
            }
        </table>
    }
    else
    {
        <p class="lead">No trips found!</p>
    }
</form>

@section Scripts
{
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/pikaday/pikaday.js"></script>
    <script src="~/lib/pikaday/plugins/pikaday.jquery.js"></script>
    <link rel="stylesheet" href="~/lib/pikaday/css/pikaday.css" />

    <!-- Calendar configuration -->
    <script>
        $(function () {
            $('.datepicker-start').pikaday({
                firstDay: 1,
                trigger: document.getElementById('date-trigger-start'),
                format: 'DD.MM.YYYY'
            });
            $('.datepicker-end').pikaday({
                firstDay: 1,
                trigger: document.getElementById('date-trigger-end'),
                format: 'DD.MM.YYYY'
            });
        });
    </script>
}
